body{
  margin: 0;
}
header{
  background-color: #06151A;
  padding: 32;
  display: flex;
  justify-content: center;
}
section {
  background: linear-gradient(180deg, #17E4b9 0%, #091D24 100% );
  display: flex;
  justify-content: center;
}
section img{
  max-width: 90%;
}